<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">     <!--Icons -->
</head>
<body>
    <nav class="nav-bar">
        <a id="header" href="/">The Growth Hub</a>
        <div class = "menu">
            <a id="homeBtn" href="/">Home</a>
            <a id="newPostBtn" href="/new">New Post</a>
            <a id="aboutBtn" href="/about">About</a>
        </div>
    </nav>
    
</body>
</html>