<%- include("partials/header.ejs") %>

<body>
    <div class = "about">
        <h2 class="marginBottom">About Us</h2>
        <p>Welcome to The Growth Hub, where business, finance, tech and self-development come together to inspire growth and success.</p>

       <p>At The Growth Hub, we are committed to providing valuable insights and practical advice to help you thrive both professionally 
        and personally. Whether you’re an entrepreneur, tech enthusiast, developer, or someone focused on personal growth, 
        this blog is designed with you in mind.</p>
        
        <h3 class="marginBottom">What We Cover:</h3>
        <ul class="listOfCover">
            <li>Business: Gain insights into business strategies, management tips, and market trends that drive success.</li>
            <li>Finance: Discover personal finance tips, investment strategies, and ways to achieve financial independence.</li>
            <li>Tech: Stay updated on the latest tech innovations and explore how technology is reshaping the future.</li>
            <li>Coding: Learn new coding techniques, follow the latest trends in development, and enhance your coding skills.</li>
            <li>Self-Development: Explore tips and strategies for personal growth, productivity, and achieving a balanced life.</li>
        </ul>

        <h3 class="marginBottom">Share Your Knowledge!</h3>

        <p>We believe in the power of community. That’s why we invite you to contribute to The Growth Hub. Have insights or expertise in any
        of these areas? Submit your own blog posts and be part of our growing community of thinkers, innovators, and learners. 
        Your voice matters, and we welcome your contribution to the conversation.</p>

       <p> Thank you for being part of our journey and for helping build a diverse and insightful platform for all.</p>
    </div>
  
    <%- include("partials/footer.ejs") %>
</body>

</html>
